<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<body>

    <table>
    <tr><td><%= link_to("Users", admin_users_url) %></td></tr>
    <tr><td><%= link_to("NFL Players", admin_nfl_players_url) %></td></tr>
    <tr><td><%= link_to("The Kitty", admin_kitties_url) %></td></tr>
    <tr><td><%= link_to("Sync NFL Players From MyFantasyLeague", sync_nfl_players_url) %></td></tr>
    <tr><td><%= link_to("Sync Rosters From MyFantasyLeague", sync_rosters_url) %></td></tr>
    </table>
</body>
</html>