<%= @user.first_name %>,

Your Rock On auction password has been reset. You may now sign into the site with your login and new password:

<%= @url %>
login: <%= @user.login %>
password: <%= @new_password%>

Thanks!