<h1>Lost your password? No problem!</h1>
<p>To have your password reset and sent to you, please provide your email address below:<br/><br/></p>
<% form_tag '' do %>
	<%= detail_text_field("password_request", "email", "email address") %> <%= submit_tag "send me my new  password!" %> or <%= link_to "try and sign in again", login_url %>
<% end %>