<h1>The Kitty</h1>


<table class="stats" cellspacing="0" cellpadding="0" width="40%">
  <tr>
    <th>Team</th>
    <th>Balance</th>
    <th></th>
  </tr>
  
<% 
  for kitty in @kitties 
%>
  <tr class="<%= cycle('odd', 'even') %>" >
    <td class="stat-label" nowrap><%= kitty.first_name + " " + kitty.last_name %></td>
    <td class="stat-value"><%= number_to_currency(kitty.balance) %></td>
    <td><%= link_to "details", user_kitty_path(kitty.user_id) %></td>
</tr>
<% end %>
</table>
