<div class="field" id="field-<%= object_name.to_s + "_" + method.to_s %>">
	<label for="<%= object_name.to_s + "_" + method.to_s %>"><%= caption%></label>
	<%= field %>
	<div class="helptext"><%= helptext%></div>
</div>